<!DOCTYPE html>
<html>
  <head>
    <title><%= client.user.username %> - Best discord music bot!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="<%= client.user.username %> - Best discord music bot!">
    <meta property="og:description" content="play music, and listen to it smoothly without lag and also of course free! <%= client.user.username %> also has many other features besides music!">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.png">
    <meta name="theme-color" content="#deaa00f">
  </head>
  <body>
    
  </body>
</html>